<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demogorgen.mapper.CountryMapper">
    <resultMap type="Country" id="country">
        <result property="countryName" column="c_name"/>
    </resultMap>
    <select id="SelectAllCountry" resultMap="country">
        select * from country
    </select>
    <!--查询所有包装类-->
    <resultMap id="UserVo" type="uservolist">
        <id property="id" column="id"/>
    </resultMap>
    <select id="Select" resultMap="uservolist">
        select * from user u right join country c on u.id=c.id
    </select>
</mapper>



