<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demogorgen.mapper.UserMapper">
    <select id="SelectUserByID" parameterType="Integer" resultType="com.demogorgen.bean.User">
        select * from user where id=#{id}
    </select>

    <select id="SelectAllUser" resultType="User">
        select * from user
    </select>

    <select id="SelectAllLike" parameterType="String" resultType="User">
        select * from user where username like "%"#{name}"%"
    </select>

    <insert id="InsertUser" parameterType="com.demogorgen.bean.User">
        insert into user(username,password) value (#{username},#{password});
    </insert>

    <update id="updataName" parameterType="com.demogorgen.bean.User">
        update user set username=#{username} where id=#{id}
    </update>

    <delete id="DelectByID" parameterType="Integer">
        delete from user where id=#{id}
    </delete>

    <select id="SelectUserByUserVoId" parameterType="UserVo" resultType="User">
        select * from user where id=#{user.id}
    </select>

    <select id="SelectUserCount" resultType="int">
        select Count(*) from user
    </select>

    <resultMap id="userVolist" type="UserVo">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <association property="country" javaType="Country">
            <result property="countryName" column="c_name"/>
        </association>
    </resultMap>
    <select id="SelectAllUserVo" resultMap="userVolist">
        select u.username,u.password,c.c_name from user u left join country c on u.id=c.id
    </select>
</mapper>



<!--<mapper namespace="org.mybatis.example.BlogMapper">-->
<!--    <select id="selectBlog" resultType="Blog">-->
<!--    select * from Blog where id = #{id}-->
<!--  </select>-->
<!--</mapper>-->